<ul class="socialLinks socialLinks--alt">
    <li>
        <a href="">
            <img src="{{cdn "img/fb.png"}}" alt="">
        </a>
    </li>    
    <li>
        <a href="">
            <img src="{{cdn "img/insta.png"}}" alt="">
        </a>
    </li>    
    <li>
        <a href="">
            <img src="{{cdn "img/twitter.png"}}" alt="">
        </a>
    </li>    
    <li>
        <a href="">
            <img src="{{cdn "img/pinterest.png"}}" alt="">
        </a>
    </li>    
    <li>
        <a href="">
            <img src="{{cdn "img/youtube.png"}}" alt="">
        </a>
    </li>    
    <li>
        <a href="">
            <img src="{{cdn "img/blog.png"}}" alt="">
        </a>
    </li>    
</ul>