---

---

{{#partial "page"}}

<div class="main full">

    {{{banners.top}}}

    <div class="sub-banners">
        <ul>
            <li>
                <a href="">
                    <img src="{{cdn "img/esl-sub1.jpg"}}" alt=""><br />
                    <span>Shop Commercial Lighting &raquo</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{cdn "img/esl-sub2.jpg"}}" alt=""><br />
                    <span>Shop Atlas Outdoor Lighting &raquo</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="{{cdn "img/esl-sub3.jpg"}}" alt=""><br />
                    <span>Shop Cabinet Lighting &raquo</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="featured-categories">
        <h3>Featured Categories</h3>
        <ul class="cf">
            <li>
                <img src="{{cdn "img/esl-fc1.jpg"}}" alt="">
                <span>LED Lamps</span>
                <ul>
                    <li><a href="">All LED Lamps &raquo</a></li>
                    <li><a href="">LED Linear &raquo</a></li>
                    <li><a href="">LED Outdoor &raquo</a></li>
                    <li><a href="">LED Pool Bulbs &raquo</a></li>
                    <li><a href="">LED Par Lamps &raquo</a></li>
                </ul>
            </li>
            <li>
                <img src="{{cdn "img/esl-fc2.jpg"}}" alt="">
                <span>LED Ropelights</span>
                <ul>
                    <li><a href="">All LED Lamps &raquo</a></li>
                    <li><a href="">LED Linear &raquo</a></li>
                    <li><a href="">LED Outdoor &raquo</a></li>
                    <li><a href="">LED Pool Bulbs &raquo</a></li>
                    <li><a href="">LED Par Lamps &raquo</a></li>
                </ul>
            </li>
            <li>
                <img src="{{cdn "img/esl-fc3.jpg"}}" alt="">
                <span>Lighting Fixtures</span>
                <ul>
                    <li><a href="">All LED Lamps &raquo</a></li>
                    <li><a href="">LED Linear &raquo</a></li>
                    <li><a href="">LED Outdoor &raquo</a></li>
                    <li><a href="">LED Pool Bulbs &raquo</a></li>
                    <li><a href="">LED Par Lamps &raquo</a></li>
                </ul>
            </li>
            <li>
                <img src="{{cdn "img/esl-fc4.jpg"}}" alt="">
                <span>LED Flashlights</span>
                <ul>
                    <li><a href="">All LED Lamps &raquo</a></li>
                    <li><a href="">LED Linear &raquo</a></li>
                    <li><a href="">LED Outdoor &raquo</a></li>
                    <li><a href="">LED Pool Bulbs &raquo</a></li>
                    <li><a href="">LED Par Lamps &raquo</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="why-shop-home">
        <ul>
            <li>
                <img src="{{cdn "img/truck.png"}}" alt="">
                <h4>Fast, Free Shipping</h4>
                <p>Enjoy free same day shipping on all US orders. Order by 1pm EST.</p>
                <a href="">Learn more &raquo</a>
            </li>
            <li>
                <img src="{{cdn "img/experts.png"}}" alt="">
                <h4>Expert Assistance</h4>
                <p>Have questions about a purchase? Talk to an ESL specialist.</p>
                <a href="/contact-us/">Contact Us &raquo</a>
            </li>
            <li>
                <img src="{{cdn "img/40.png"}}" alt="">
                <h4>40 Years in Business</h4>
                <p>Not satisfied? Send it back within 30 days for a full refund!</p>
                <a href="/about-us/">About Us &raquo</a>
            </li>
        </ul>
    </div>


</div>
{{/partial}}
{{> layout/base}}
