// =============================================================================
// GRID (CSS)
// =============================================================================


.container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1280px;
    padding: 0;
    position: relative;
    width: 100%;
    margin:0 auto;
}
